# Ignore environment files
.env*
.vite-env.d.ts

# Ignore dependencies
node_modules/

# Ignore build and cache files
dist/
build/
.cache/
.vscode/
.idea/

# Ignore lock files (optional, if using different package managers)
bun.lockb
package-lock.json
pnpm-lock.yaml
yarn.lock

# Ignore TypeScript build artifacts
*.tsbuildinfo
